<form method="post" action="{{ path('template_delete', {'id': template.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce template ?');" style="display: inline-block;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ template.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
