{% extends 'base.html.twig' %}

{% block title %}Nouveau site{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/new_afterwork.css"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel text-center">
                <h1>Ajout d'un nouveau site</h1>
            </div>
            {{ include('site/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
