{% extends 'base.html.twig' %}

{% block title %}Ajouter une civilité{% endblock %}

{% block body %}
    <h1>Créer une nouvelle civilité</h1>
    <div class="col-md-2">
        {{ include('civility/_form.html.twig') }}
    </div>
{% endblock %}
