<form method="post" action="{{ path('afterwork_delete', {'id': afterwork.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet évènement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ afterwork.id) }}">
    <button class="btn btn-danger">Supprimer l'évènement</button>
</form>
