{% extends 'base.html.twig' %}

{% block title %}Nouvel afterwork{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/new_afterwork.css"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-form">
            <div class="bg-white pt-4 pl-4 pr-4 pb-5">
                <div class="panel text-center">
                    <h1>Création d'afterwork</h1>
                    <p>Les champs précédés d'un astérisque sont obligatoires.</p>
                </div>
                {{ include('afterwork/_new_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
