{% extends 'base.html.twig' %}

{% block title %}Nouvel afterwork{% endblock %}

{% block body %}
    <h1>Création d'un afterwork</h1>
    <div class="col-md-4">
        {{ include('afterwork/_form.html.twig') }}
    </div>
{% endblock %}
