{% extends 'base.html.twig' %}

{% block title %}Edit MailingList{% endblock %}

{% block body %}
    <h1>Edit MailingList</h1>

    {{ include('mailing_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mailing_list_index') }}">back to list</a>

    {{ include('mailing_list/_delete_form.html.twig') }}
{% endblock %}
