{% extends 'base.html.twig' %}

{% block title %}Modifier liste de diffusion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/new_afterwork.css"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel text-center">
                    <h1>Modifier la liste de diffusion</h1>
                    <p>Les champs précédés d'un astérisque sont obligatoires.</p>
                </div>
                {{ include('mailing_list/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
