body {
    background-color: whitesmoke
}

.lobster {
    font-family: 'Lobster', cursive;
}

#logo{
    height:25px;
    width:10%;
}

.close:active, .close:visited, .close:focus {
    outline-style:none;
}