<p>Bonjour {{ user.firstname }},</p>

<p>Tu es convi&eacute;(e) au premier Afterwork de cette rentr&eacute;e&nbsp;!</p>

<p>&nbsp;</p>

<p><img src="https://mail.solutec.fr/owa/attachment.ashx?id=RgAAAAADjguTVlhDQYuUKre9L7LQBwDpw2w6G9QSS5ZM4m97xr2SAAAAqRitAADpw2w6G9QSS5ZM4m97xr2SAAAN%2f7EOAAAJ&amp;attcnt=1&amp;attid0=BAAAAAAA&amp;attcid0=image001.png%4001D4460E.D95EEB70" /></p>

<p>&nbsp;</p>

<p><strong><u>Au programme&nbsp;:</u></strong></p>

<p>&nbsp;</p>

<p>D&eacute;gustation de vin avec quelques tapas dans une ambiance d&eacute;contract&eacute;e,</p>

<p>Pour un budget de 20&nbsp;&euro; par personne</p>

<p>(Possibilit&eacute; de changer le vin en bi&egrave;re, jus de fruits Bio, ou champagne)</p>

<p>&nbsp;</p>

<p><strong><u>Le lieu&nbsp;:</u></strong></p>

<p>Le Metropolitain, Cave &agrave; Manger &amp; Lieu de Partage</p>

<p><a href="https://mail.solutec.fr/owa/redir.aspx?C=TiSFBEO7knAno92TQMCUI3KeW_WJidrq-ew8TZha-MB2yipPbBzWCA..&amp;URL=https%3a%2f%2fwww.lemetropolitainbordeaux.com%2f" rel="noopener noreferrer" target="_blank">https://www.lemetropolitainbordeaux.com/</a></p>

<p>TRAM A, Arr&ecirc;t place du Palais, 5 minutes &agrave; pied</p>

<p>&nbsp;</p>

<p>A tr&egrave;s vite !</p>