<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce consultant ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="close text-right pr-2">
        <span aria-hidden="true">&times;</span>
    </button>
</form>
